// Файл обнуляющих стилей
@import "null.scss";

.main {
    /* Ссылка на файл изображения */
    color: red;
}

body{
    font-style: italic;
}
.block{
    margin: 0 0 30px 0;
    &__title{
        font-size: 34px;
        text-align: center;
        margin: 20px 0 20px 0;
        padding: 10px;
        background: rgb(194, 191, 191);
        border: 2px solid black;
        border-radius: 20px;
    }
    &__text{
        font-size: 22px;
        font-weight: bold;
        color: rgb(211, 127, 127);
        text-align: center;
        background: rgb(177, 207, 177);
    }
}

.content{
    flex: 1 1 auto;
}
.container{
    margin: 0 20px;
}
.doub-title{
    text-align: center;
}
.title{
    font-size: 24px;
}
.doubslider{
    position: relative;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px 20px;
    margin: 0 0 40px 0;
    background-color: rgb(220, 178, 178);
    border-radius: 5px;
    &__input{
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 95%;
        outline: none;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        background-color: transparent;
        pointer-events: none;
    }
    &__track{
        width: 95%;
        height: 5px;
        background-color: #3264fe;
        position: absolute;
        margin: auto;
        top: 0;
        bottom: 0;
        border-radius: 5px;
    }
    &__input::-webkit-slider-runnable-track{
        -webkit-appearance: none;
        height: 5px;
    }
    &__input::-moz-range-track{
        -moz-appearance: none;
        height: 5px;
    }
    &__input::-ms-track{
        appearance: none;
        height: 5px;
    }
    &__input::-webkit-slider-thumb{
        -webkit-appearance: none;
        height: 1.7em;
        width: 1.7em;
        background-color: #3264fe;
        cursor: pointer;
        border-radius: 50px;
        margin-top: -9px;
        pointer-events: auto;
    }
    &__input::-moz-range-thumb{
        -webkit-appearance: none;
        height: 1.7em;
        width: 1.7em;
        background-color: #3264fe;
        cursor: pointer;
        border-radius: 50px;
        pointer-events: auto;
    }
    &__input::-ms-thumb{
        -webkit-appearance: none;
        height: 1.7em;
        width: 1.7em;
        background-color: #3264fe;
        cursor: pointer;
        border-radius: 50px;
        pointer-events: auto;
    }
    &__input:active::-webkit-slider-thumb{
        background-color: #ffffff;
        border: 3px solid #3264fe;
    }
    &__values{
        display: flex;
        justify-content: space-around;
        margin: 0 0 90px 0;
        padding: 10px 0;
        background-color: #3264fe;
        width: 32%;
        position: relative;
        border-radius: 5px;
        text-align: center;
        font-weight: 500;
        font-size: 25px;
        color: #ffffff;
    }
    &__values::before{
        content: '';
        position: absolute;
        height: 0;
        width: 0;
        border-top: 15px solid #3264fe;
        border-left: 15px solid transparent;
        border-right: 15px solid transparent;
        margin: auto;
        bottom: -14px;
        left: 0;
        right: 0;
    }
}

.slider-three{
    margin: 0 0 40px 0;
    &__row{
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    &__title{
        margin: 0 0 30px 0;
    }
    &__label{
        display: flex;
        margin: 0 0 25px 0;
        width: 50px;
    }
    &__in{
        //height: 13px;
        width: 60px;
        font-size: 20px;
        //margin: 5px 0 0 0;
        border: 1px solid black;
        text-align: center;
        background-color: rgb(244, 244, 151);
    }
    &__text{
        margin: 0 15px 0 0;
        font-size: 20px;
    }
    &__numbers{
        display: flex;
    }
    &__first,
    &__last{
        padding: 30px 0 0 0;
        font-size: 20px;
    }
    &__first{
        margin: 0 10px 0 0;
    }
    &__range{
        width: 223px;
        height: 50px;
        position: relative;
    }
    &__num{
        width: 40px;
        height: 25px;
        position: absolute;
        padding: 0 0 0 5px;
        font-size: 20px;
    }
    &__input{
        width: 215px;
        position: absolute;
        bottom: 0;
    }
    &__span{
        border: 1px solid black;
        width: 40px;
        height: 20px;
        text-align: center;
        padding: 3px;
        margin: 0 0 10px 0;
    }
}